.sidebar {
  flex: 0.2;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar__subscriptions {
  font-size: 13px;
  font-weight: 700;
  color: #666;
  margin: 10px 0px 10px 20px;
}

.sidebar__avatar {
  height: 25px !important;
  width: 25px !important;
}
